span {
  font-style: oblique;
  color: cyan;
}

.btn {
  font-size: 1.2rem;
  padding: 5px 10px;
}

.addy {
  font-size: 1.5rem;
  text-decoration: underline;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  height: 300px;
  margin: 50px 30px;

  color: whitesmoke;
  font-size: 1.5rem;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: darkmagenta;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}